{% extends "base.html" %}
{% block content %}
  <h1 class="mt-4">All Assessments</h1>
  <div class="container mt-3">
    <div class="row">
      {% for assessment in assessments %}
        <div class="col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ assessment.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Module Code: {{ assessment.module_code }}</h6>
              <p class="card-text">Deadline: {{ assessment.deadline_date }}</p>
              <p class="card-text">Description: {{ assessment.description }}</p>
              <p class="card-text"><strong>Status:</strong> {{ 'Completed' if assessment.is_complete else 'Not Completed' }}</p>
              <a href="{{ url_for('edit_assessment', assessment_id=assessment.id) }}" class="btn btn-secondary btn-sm mr-2">Edit</a>
              <form action="{{ url_for('delete_assessment', assessment_id=assessment.id) }}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
              </form>
              {% if not assessment.is_complete %}
                <form action="{{ url_for('mark_complete', assessment_id=assessment.id) }}" method="post" style="display:inline;">
                  <button type="submit" class="btn btn-success btn-sm">Mark as Complete</button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mt-4">
    <a href="{{ url_for('add_assessment') }}" class="btn btn-add-new">Add New Assessment</a>
  </div>
  <div class="mt-3">
    <a href="{{ url_for('view_completed') }}" class="btn btn-primary mr-2">View Completed Assessments</a>
    <a href="{{ url_for('view_uncompleted') }}" class="btn btn-dark">View Uncompleted Assessments</a>
  </div>
{% endblock %}
